.word-guesser-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
  
  .word-inputs {
    display: flex;
    gap: 0.5rem;
  }
  
  .letter-container {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .correct-letter {
    color: #fff;
    border-bottom: 2px solid #fff;
    width: 100%;
    text-align: center;
  }
  
  .guess-input {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    border: none;
    background-color: #1c192b;
    color: #fff;
    border-bottom: 2px solid #4a4564;
    caret-color: #8a2be2;
  }
  
  .guess-input:focus {
    outline: none;
    border-bottom-color: #8a2be2;
  }
  
  .guess-submit-btn {
    padding: 0.8rem 2rem;
    border: none;
    background-color: #8a2be2;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
  }
  