.answer-result {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--background-light);
  transition: all 0.5s ease-in-out;
}

.answer-result .answer-text {
  flex-basis: 50%;
  text-align: left;
  font-size: 1.3rem;
}

.answer-bar-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  background-color: var(--background-medium);
  border-radius: 0.25rem;
  height: 30px;
}

.answer-bar {
  height: 100%;
  background-color: var(--text-secondary);
  border-radius: 0.25rem;
  transition: width 0.5s ease-in-out;
}

.answer-percentage {
  padding-left: 0.5rem;
  font-weight: bold;
}

.answer-result.incorrect {
  opacity: 0.5;
  filter: grayscale(80%);
}

.answer-result.correct {
  transform: scale(1.05);
  box-shadow: 0 0 20px var(--success-color-faded);
  border: 2px solid var(--success-color);
}

.answer-result.correct .answer-bar {
  background-color: var(--success-color);
}
