.host-frame {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f0f2f5;
}

.host-frame-header {
  display: flex;
  align-items: center;
  background-color: #282c34;
  color: white;
  padding: 0.5rem 1rem;
}

.host-frame-logo {
  height: 2rem;
  pointer-events: none;
}

.partyhub-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 1rem;
}

.host-frame-content {
  flex-grow: 1;
  overflow-y: hidden;
  background-color: black;
}
