.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  animation: spin 1s linear infinite;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  border-bottom: 4px solid #4f46e5; /* Corresponds to border-indigo-600 */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
